services:
  backend:
    build:
      context: ./backend     
      dockerfile: Dockerfile  
    container_name: research_ai_backend
    ports:
      - "8000:8000"
    env_file:
      - .env

  frontend:
    build:
      context: ./frontend   
      dockerfile: Dockerfile
    container_name: research_ai_frontend
    ports:
      - "3000:80"
    depends_on:
      - backend